

*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
     
  }
  
  
  body,
  html {
    margin: 0;
    font-family: "Roboto", sans-serif;
    height: 100%;
  }
  
  
  body {
    display: flex;
    align-items: center;
    background: rgb(68, 105, 247);
    background: linear-gradient(
      238deg,
      rgba(68, 105, 247, 1) 0%,
      rgba(246, 91, 245, 1) 100%
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white !important;
  }
  